<?xml version="1.0" encoding="UTF-8" ?>
<suite name="我自己的测试套件">
    <test name="这些是测试模块">
        <classes>
            <class name="com.test.extend.demo.TestMethodDemo">
                <inclue name="test1"/>
                <inclue name="test2"/>
                <inclue name="test3"/>
                <inclue name="logDemo"/>

            </class>
        </classes>

    </test>

    <listeners>

        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="com.test.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>


</suite>